#app
  .top
    .top__header
      .top__header__left
        = image_tag '/image/E8500C01-1CD3-4FFC-951C-922FA7A7FA81.JPG', class: "top__header__left__image"
      .top__header__list
        .top__header__list__home
          home
        .top__header__list__about 
          about
        .top__header__list__work    
          work
    .top__main
      .top__main__right
        = image_tag '/image/DD3B1190-E0DB-45A5-9732-93B893AE7AAB.JPG', class: "top__main__right__image"
      .top__main__title
        %p.first The Hood 
        %p.second  coffee break 
    .top__side
      coffee break　

  .contents
    .contents__first
      %h1 沢山の仲間とくつろげる空間づくり
      .contents__first__com
        %p こんにちは、The Hood(ザ フッド)です。
        %p 名前の由来は地元を指し、たくさんの方の第2の地元として
        %p くつろげる空間を目指しています。
        %p 珈琲をはじめ、様々なアーティストの展示会など承っております。
        %p ぜひThe Hoodでゆらりとしたお時間をお過ごしください。
    .contents__second
      .contents__second__image
        = image_tag '/image/79E0E00D-23AB-41C0-B53F-A0CCE4D85015.JPG', class: '.contents__second__image__photo'
        

        

      
      
  


